body{
     background: url(primera/fondo3.jpg);
	 text-align: center;
}
h5{
	 background: #1e6390;
     border-radius: 0.5em;
     margin:1em;
     padding:1em;  
     display: inline-block;
     min-height: 50px;
     max-height: 800px;
     width: 30%;
}
h4{
	 background: #1e6361;
     border-radius: 0.5em;
     margin:1em;
     padding:1em;  
     display: inline-block;
     min-height: 100px;
     max-height: 8000px;
     width: 65%;
}
h3{
	 background: #1e6390;
     border-radius: 0.5em;
     margin:1em;
     padding:1em;  
     display: inline-block;
     min-height: 70px;
     max-height: 8000px;
     width: 50%;
}